﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><hr>
    <h2>Room list</h2>
    @Html.Raw(ApiPageInterface.ListRooms)
</div>
