@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy & Rules";
}
<h1>@ViewData["Title"]</h1>
<h2>Rules</h2><hr>
<p>1) You must not draw or refer to unproper subjects.</p>
<p>2) You must not bring politics into this.</p>
<h2>Privacy policy</h2><hr>
<p>Your IP might be recorded in order to keep our operations running smooth.</p>
<p>We reserve the rights to block any individual from accessing our services at any point if we find that one abuses or improperly uses our services.</p>
